<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ayyo">
  <xacro:arg name="use_meshes" default="false"/>
  <xacro:arg name="simulation_mode" default="false"/>
  <xacro:arg name="simulation_static" default="true"/>
  <xacro:arg name="simulation_control" default="false"/>
  <xacro:arg name="simulation_manipulation_control" default="false"/>
  <xacro:arg name="simulation_manipulation_support" default="false"/>
  <xacro:arg name="simulation_localization" default="false"/>
  <xacro:arg name="simulation_camera" default="false"/>
  <xacro:arg name="simulation_depth_camera" default="false"/>
  <xacro:arg name="simulation_controller_config" default=""/>

  <xacro:include filename="ayyo_materials.xacro"/>
  <xacro:include filename="ayyo_geometry.xacro"/>
  <xacro:include filename="ayyo_body.xacro"/>
  <xacro:include filename="ayyo_gazebo.xacro"/>
  <xacro:include filename="ayyo_ros2_control.xacro"/>

  <xacro:ayyo_materials/>
  <xacro:ayyo_body use_meshes="$(arg use_meshes)"/>
  <xacro:if value="$(arg simulation_mode)">
    <xacro:ayyo_gazebo
      static_model="$(arg simulation_static)"
      control_enabled="$(arg simulation_control)"
      localization_enabled="$(arg simulation_localization)"
      camera_enabled="$(arg simulation_camera)"
      depth_camera_enabled="$(arg simulation_depth_camera)"
      controller_config="$(arg simulation_controller_config)"
      manipulation_control_enabled="$(arg simulation_manipulation_control)"
      manipulation_support_enabled="$(arg simulation_manipulation_support)"/>
    <xacro:if value="$(arg simulation_control)">
      <xacro:ayyo_ros2_control_system
        hardware_plugin="gz_ros2_control/GazeboSimSystem"
        manipulation_control="$(arg simulation_manipulation_control)"/>
    </xacro:if>
  </xacro:if>
</robot>
